body {
    background-image: url("../assets/images/dog_inside_fire1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.error-header {
    font-family: "Afacad Flux", sans-serif;
    color: white;
    font-size: 100px;
    position: absolute;
    right: 28%;
}

.flames {
    margin-top: 200px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 400px
}

.fire {
    display: flex;
    flex-direction: column;
}


#footerInfo {
    position: absolute;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #fdc360;
    border-style: none;
    border: 0px;
    bottom: -200px;
    right: 0;
}

#phone {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 10px;
    text-wrap: nowrap;
    margin-right: -25px;
}

#services {
    background-color: #fdc360;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 1300px;
}

#services:hover {
    background-color: #feb130;
}