.content {
    text-align: center;
}

.content h1 {
    color: #110a04;
    font-size: 2.5em;
    font-family: "Playwrite GB S", cursive;
}

.content p {
    font-family: "Playwrite GB S", cursive;
    color: #110a04;
    font-size: 1.50em;
    max-width: 800px;
    margin: 15px auto;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.image-row img {
    height: 300px;
    border-radius: 30px;
    

}

body {
    background-color: #fbe6bf;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icons {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #fdc360;
    padding: 0px;
    margin: 0;
    border-style: none;
    border: 0px;
}

.icons:hover {
    background-color: #feb130;
}

.above-hero {
    margin: 50px;
}

#hero {
    background-color: #feb130;
    width: 65%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.slogan {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-left: 10px;
}

#fireSlogan {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 1.5);
    letter-spacing: 2px;
    margin-left: 10px;
}

#hamburgerNav {
    position: absolute;
    top: 9px;
    right: 10px;
    display: flex;
}

.menu {
    --size: 40px;
    --color: black;
    height: var(--size);
    width: var(--size);
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
}

.menu:before,
.menu:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.menu:before {
    transform: translateY(-12px);
}

.menu:after {
    transform: translateY(12px);
}

.menu:checked:before {
    transform: rotate(45deg);
    top: 50%;
}

.menu:checked:after {
    transform: rotate(-45deg);
    top: 50%;
}

ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    right: 50px;
    top: -10px;
    position: absolute;
    font-size: large;
    display: none;
    text-wrap: nowrap;
}

li {
    margin-right: 40px;
    font-family: "Playwrite GB S", cursive;
    font-weight: bold;
}

.menu:checked~ul {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    margin-bottom: -50px;
    padding: 20px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px rgba(248, 96, 8, 0.973);
}
.people:hover {
    transform: scale(1.05);
}
.image-container {
    position: relative;
    width: 200px;
}
.hover-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    padding: 15px;
    background-color: #feb130;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    border: 2px solid #363306;
}
.left-text {
    right: calc(100% + 20px); 
}
.right-text {
    left: calc(100% + 20px); 
    margin-left: 35px;
}
.image-container:hover .hover-text {
    opacity: 1;
}

#footerInfo {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #fdc360;
    padding: 2px;
    margin: 0;
    border-style: none;
    border: 0px;
    margin-top: 420px;
}

#phone {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 10px;
    text-wrap: nowrap;
}

#services {
    background-color: #fdc360;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 1140px;
}

#services:hover {
    background-color: #feb130;
    transform: scale(1.05);
}