body {
    background-color: #fbe6bf;
    margin: 0px;
}
.nav {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #fdc360;
    padding: 2px;
    margin: 0;
    border-style: none;
    border: 0px;
}
.nav:hover {
    background-color: #feb130;
}
.menu:before,
.menu:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--color);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.menu:before {
    transform: translateY(-12px);
}

.menu:after {
    transform: translateY(12px);
}

.menu:checked:before {
    transform: rotate(45deg);
    top: 50%;
}

.menu:checked:after {
    transform: rotate(-45deg);
    top: 50%;
}

ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    right: 50px;
    top: -10px;
    position: absolute;
    font-size: large;
    display: none;
    text-wrap: nowrap;
}

li {
    margin-right: 40px;
    font-family: "Playwrite GB S", cursive;
    font-weight: bold;
}

.menu:checked~ul {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.name {
    font-family: cursive;
    margin: 4px;
    margin-top: 6px;
    color: #363306;
    font-size: large;
}

.logo:active {
    width: 60px;
}




#slogan,.main-word {
    font-family: "Playwrite GB S", cursive;
}



.slogan {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-left: 10px;
}


#fireSlogan {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 1.5);
    letter-spacing: 2px;
    margin-left: 10px;
}

#hamburgerNav {
    position: absolute;
    top: 9px;
    right: 10px;
    display: flex;
}
.menu {
    --size: 40px;
    --color: black;
    height: var(--size);
    width: var(--size);
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
}
.above-hero{
    display: flex;
    justify-content: center;
}





